<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <div><%= @question.question.html_safe %></div>
    <%= f.text_area :question, :cols=>80, :rows=>10 %>
    <div><%= @question.answers.html_safe %></div>
    <%= f.text_area :answers, :cols=>80, :rows=>10 %>
    <%= f.submit %>
  </div>
<% end %>
