<h1><%= @exam==nil ? "All Questions" : @exam.name %></h1>

<% @questions.each do |question| %>
  <%= link_to 'Edit', edit_question_path(question) %>
	<h2><%= question.subject %> | <%= question.num %> | <%= question.score %></h2>
	<div><%= question.question.html_safe %></div>
	<div><%= question.answers.html_safe %></div>
<% end %>

