<h1>Listing templates</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= link_to template.question, template, 'data-no-turbolink' => true%></td>
        <td><%= link_to 'Edit', edit_template_path(template), 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_template_path, 'data-no-turbolink' => true %> | <%= link_to 'Clear', clear_templates_path %>
