<p id="notice"><%= notice %></p>

<%@questions.each do |question|%>
	<%= form_for(:question, {url: check_question_path(question, :answer=>999), :remote=>true, :html=>{:id=>question.id}}) do |f| %>
		<div class="question <%=question.material%>"><%= question.question.html_safe %></div>
		<div class="answer">!</div>
		<%=f.submit "Check"%>		
	<%end%>
<%end%>
<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>

<script>

function checkAnswer(form){
	var answer = $('input[name=answers]:checked', form).val();
	if (typeof answer == "undefined"){
		alert("please select an answer");
		return false;
	}
	else{
		console.log('checking...' + answer);
		var url = $(form).prop("action");
		url = url.replace(/answer=([^\&]*)/, 'answer='+answer);
		$(form).prop("action", url);
	}
}

$(document).ready(function() {
	renderQuestion($(".question.md"));
		
	$(":submit").click(function(e){
		var form = $(this).parents('form:first');
		return checkAnswer(form);
	})
		
});
</script>