<!DOCTYPE html>
<html>
<head>
  <title>Caribou</title>
	
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%=link_to 'by Exam',  exams_path%> | <%=link_to 'by Subject', subjects_questions_path%> | <%=link_to 'Templates', templates_path%>  | <%=link_to 'Games', questions_path(:material=>'game') %> </h1>

<%= yield %>

</body>
</html>
